<div *ngIf="bid">
	<h2>{{ bid.title | uppercase }} Details</h2>
	<button (click)="goBack()">go back</button>
	<div>
		<ul style="list-style-type: none">
			<li><label>Title:</label> {{ bid.title }}</li>
			<li><label>BidAmount:</label> {{ bid.bid.bidAmount }}</li>
			<li><label>specialInstruction:</label> {{ bid.specialInstruction
				}}</li>
			<li><label>FirstName:</label> {{ bid.userInfo.firstName }}</li>
			<li><label>LastName:</label> {{ bid.userInfo.lastName }}</li>
			<li><label>EmailAddress:</label> {{ bid.userInfo.emailAddress }}</li>
			<li><label>Phone:</label> {{ bid.userInfo.phone }}</li>

			<li><label>AdditonalInfo:</label> {{ bid.userInfo.additonalInfo
				}}</li>
		</ul>
	</div>

</div>