
<div *ngIf="listing">
	<h2>{{ listing.title | uppercase }} Details</h2>
	<button (click)="goBack()">go back</button>
	<button (click)="createNewBid()">create bid</button>
	<button (click)="getBidsForListing()">show bids</button>
	<div *ngIf="showBidsPopover" class="popOver">
		<div *ngIf="currentBids">
			<ul style="list-style-type: none">
				<li *ngFor="let bid of currentBids"><a
					routerLink="/securehome/bid-detail/{{bid.id}}"> {{bid.title}} </a></li>
			</ul>
		</div>
	</div>
	<div *ngIf="showPopover" class="popOver">
		<ul style="list-style-type: none">
			<label>Title:</label>
			<input [(ngModel)]="bid.title" placeholder="title" />
			<li><label>BidAmount:</label><input [(ngModel)]="bid.bidAmount"
				placeholder="bidAmount" /></li>
			<li><label>specialInstruction:</label><input
				[(ngModel)]="bid.additionalInfo"
				placeholder="additionalInfo" /></li>
			<li><label>FirstName:</label> <input
				[(ngModel)]="bid.userInfo.firstName" placeholder="firstName" /></li>
			<li><label>LastName:</label> <input
				[(ngModel)]="bid.userInfo.lastName" placeholder="lastName" /></li>
			<li><label>EmailAddress:</label> <input
				[(ngModel)]="bid.userInfo.emailAddress" placeholder="emailAddress" /></li>
			<li><label>Phone:</label> <input
				[(ngModel)]="bid.userInfo.phone" placeholder="phone" /></li>

			<li><label>AdditonalInfo:</label> <input
				[(ngModel)]="bid.userInfo.additonalInfo" placeholder="additonalInfo" /></li>
		</ul>
		<button (click)="showPopover = false" class="btn">Close</button>
		<button (click)="createBid()" class="btn">Create</button>
	</div>
	<div *ngIf="showPopover" class="modal" (click)="showPopover = false"></div>
	<ul style="list-style-type: none">
		<li><label>Title:</label> {{listing.title}}</li>
		<li><label>Type:</label> {{listing.type}}</li>
		<li><label>Size:</label> {{listing.size}}</li>
		<li><label>Minimum Period:</label> {{listing.minimunPeriod}}</li>
		<li><label>Price Per Month:</label> {{listing.pricePerMonth}}</li>
		<li><label>Create Date:</label> {{listing.createdDate | date }}</li>
		<li><label>Create By:</label> {{listing.createdById}}</li>
		<li><label>Modified By:</label> {{listing.modifiedById}}</li>
		<li><label>Modified Date:</label> {{listing.modifiedDate | date
			}}</li>
		<li><label>Start Date:</label> {{listing.startDate | date }}</li>
		<li><label>End Date:</label> {{listing.endDate | date }}</li>
		<li><label>From Date:</label> {{listing.fromDate | date }}</li>
		<li><label>To Date:</label> {{listing.toDate | date }}</li>
	</ul>
	<div>
		<ul style="list-style-type: none">
			<li><label>Address Line1:</label>
				{{listing.address.addressLine1}}</li>
			<li><label>Address Line2:</label>
				{{listing.address.addressLine2}}</li>
			<li><label>City:</label> {{listing.address.city}}</li>
			<li><label>State:</label> {{listing.address.state}}</li>
			<li><label>Country:</label> {{listing.address.country}}</li>
		</ul>
	</div>
	<div>
		<ul style="list-style-type: none">
			<li *ngFor="let image of listing.imageUrls"
				style="width: 48px; height: 30px;"><img src="{{image}}">
			</li>
		</ul>
	</div>



</div>